* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

:root {
  --bg-color: #1f1f1f;
  --second-bg-color: #818181;
  --text-color: #fff;
  --main-color: #1f7a8c;
}

i #menu-icon:not {
  pointer-events: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 900;
  cursor: default;
  letter-spacing: -0.15rem;
}

.navbar a {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 3.6rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  margin: -3px 0;
}

.home-content p {
  font-size: 1.8rem;
  text-align: left;
  width: 45rem;
  margin-right: 10rem;
}

.home-img img {
  width: 35vw;
  box-shadow: 0 0 2rem var(--main-color);
  border-radius: 50%;
  margin-right: -2rem;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5 ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about img {
  width: 30vw;
  border-radius: 50%;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content{
  margin-left: 20rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 2rem;
  margin: 2rem 0 3rem;
  width: 50rem;
}

.skills h2 {
  margin-bottom: 20rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
}

.skills-container .skills-box {
  flex: 1 1 15rem;
  background: var(--second-bg-color);
  padding: 3rem 0.2rem 3rem;
  max-width: 15vw;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.skills-container .skills-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.skills-box i {
  font-size: 8rem;
  color: var(--main-color);
}

.skills-box h3 {
  font-size: 2rem;
  font-weight: 400;
}

.projects {
  background: var(--second-bg-color);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.projects h2 {
  margin-bottom: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  padding-top: 5rem;
  margin-bottom: 10rem;
}

.projects-container .projects-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.projects-box {
  height: 30rem;
}

.projects-box img {
  width: 100%;
  transition: 0.5s ease;
}

.projects-box:hover img {
  transform: scale(1.1);
}

.projects-box .projects-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.projects-box:hover .projects-layer {
  transform: translateY(0);
}

.projects-layer h4 {
  font-size: 3rem;
}

.projects-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.projects-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.projects-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

.projects .btn{
  font-size: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 9%;
  background: var(--bg-color);
}

.footer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 120rem;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer a:hover {
  transform: scale(1.1);
}

.footer a i {
  font-size: 2.4rem;
  color: var(--text-color);
}

@media (max-width: 1380px) {
  .footer a {
    margin-left: 110rem;
  }
}

@media (max-width: 1280px) {
  .footer a {
    margin-left: 100rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }

  .skills {
    padding-bottom: 7rem;
  }

  .projects {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }

  .footer a {
    margin-left: 90rem;
  }
}

@media (max-width: 870px) {
  .footer a {
    margin-left: 80rem;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 40vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 70vw;
    margin-top: 4rem;
  }

  .skills h2 {
    margin-bottom: 10rem;
  }

  .projects h2 {
    margin-bottom: 10rem;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer a {
    margin-left: 70rem;
  }
}

@media (max-width: 617px) {
  .projects-container {
    grid-template-columns: 1fr;
  }

  .footer a {
    margin-left: 50rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .footer a {
    margin-left: 40rem;
  }
}

@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }

  .about-img {
    width: 90vw;
  }

  .footer a {
    margin-left: 30rem;
  }
}
