@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-black text-slate-200 antialiased overflow-x-hidden;
  }
}

@theme {
  --font-sans: var(--font-lato), sans-serif;
  --animate-infinite-scroll: infinite-scroll 25s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes slide-right {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  --animate-blob: blob 10s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.5);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.5);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

@layer utilities {
  .animate-blob {
    animation: blob 15s infinite alternate ease-in-out;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
